<div class="col-md-12 blog-post">
  <!-- Contact Me Start -->
  <div class="post-title">
    <h1>New
      <span class="main-color">post</span>
    </h1>
  </div>

  <div class="row margin-top-30">
    <div class="col-md-12">

      <div class="row">
        <form (ngSubmit)="onSubmit()" [formGroup] ="newPostForm">

          <div class="col-sm-12" @slide>
            <div class="form-group">
              <input type="text" id="name" [ngClass]="{'is-invalid' : newPostForm.get('title').touched && newPostForm.get('title').errors}"formControlName="title" class="form-control" placeholder="Title">
              <span *ngIf="newPostForm.get('title').errors && newPostForm.get('title').touched" class="invalid-feedback">Incorrect format</span>
            </div>
          </div>

          <div class="col-sm-12" @slide>
            <div class="form-group">
              <input [ngClass]="{'is-invalid' : newPostForm.get('tags').touched && newPostForm.get('tags').errors}" type="text" formControlName="tags" id="tags" class="form-control" placeholder="Tags">
              <span *ngIf="newPostForm.get('tags').errors && newPostForm.get('tags').touched" class="invalid-feedback">Incorrect format</span>
            </div>
          </div>


          <div class="col-sm-12" @slide>
            <select id="category" formControlName="category" class="form-group form-control" [ngClass]="{'is-invalid' : newPostForm.get('category').touched && newPostForm.get('category').errors}">
              <option value="0">Choose</option>
              <option [value]="category.categoryId" *ngFor='let category of categories'>{{category.name}}</option>
            </select>
          </div>

          <div class="col-sm-12" @slide>
            <div class="textarea-message form-group">
              <textarea [ngClass]="{'is-invalid' : newPostForm.get('content').touched && newPostForm.get('content').errors}" name="content" formControlName="content" rows="15" class="textarea-message form-control" id="content"></textarea>
              <span *ngIf="newPostForm.get('content').errors && newPostForm.get('content').touched" class="invalid-feedback">Incorrect format</span>
            </div>
          </div>

          <div class="col-sm-12" @scale>
            <div class="text-center">
              <button type="submit" class="load-more-button">Post</button>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
  <!-- Contact Me End -->


</div>