<div *ngIf='recentPosts && recentPosts.length; else elseBlock'>
  <div *ngFor='let post of recentPosts' class="col-md-12 blog-post">
    <div class="post-title">
      <a [routerLink]="['/postdetails',post.postId]">
        <h1>{{post.title}}</h1>
      </a>
    </div>
    <div class="post-info">
      <span>{{post.postedOn | date}} / by
        <a href="#" target="_blank">{{post.authorFirstName}} {{post.authorLastName}}</a>
      </span>
      <span>
        <i class="icon-clock"></i>&nbsp;{{post.readTime}} min read
      </span>
    </div>
    <p>{{post.partialText}}</p>
    <a [routerLink]="['/postdetails',post.postId]" class="button button-style button-anim fa fa-long-arrow-right">
      <span>Read More</span>
    </a>
  </div>
  
  <div class="col-md-12 text-center">
    <a href="javascript:void(0)" id="load-more-post" class="load-more-button">Load</a>
    <div id="post-end-message"></div>
  </div>
</div>
<ng-template #elseBlock><h1>There's no posts to show.</h1></ng-template>
