 <!-- Comments Start -->
 <div *ngIf='comments && comments.length; else elseblock'>
    <h3 class="mb-5">X Comments</h3>
    <ul class="comment-list" *ngFor='let comment of comments'>
      <li class="comment">
        <div class="vcard">
          <img *ngIf='comment.authorPhoto' [src]='comment.authorPhoto' alt="Image placeholder">
        </div>
        <div class="comment-body">
          <h3>{{comment.authorName}}</h3>
          <div class="meta">{{comment.postedOn | date:'medium'}}</div>
          <p>{{comment.text}}</p>
          <p>
            <a [attr.data-id]='comment.commentId' (click)='replyCommentSelected($event)' class="reply rounded">Reply</a>
          </p>
        </div>

        <app-blog-comment [replies]='comment.replies'></app-blog-comment>
    </ul>
    <!-- END comment-list -->
  </div>
  <!-- Comments End -->
  <ng-template #elseblock><h5>There are no comments left on this post.</h5></ng-template>

  <!-- Post Comment Start -->
  <div id="comment" class="comment">
    <div class="comment-form-wrap pt-5">
      <h3 class="mb-5">Leave a comment</h3>
      <form (submit)="onSubmit()" class="p-5 bg-light" [formGroup]="commentFormGroup">
        <div *ngIf='this.authService.currentUser == null' class="form-group">
          <label for="name">Name</label>
          <input required type="text" formControlName="name" [ngClass]="{'is-invalid' : commentFormGroup.get('name').touched && commentFormGroup.get('name').errors}" class="form-control" id="name">
          <span *ngIf="commentFormGroup.get('name').errors && commentFormGroup.get('name').touched" class="invalid-feedback">Incorrect format</span>
        </div>
        <div *ngIf='this.authService.currentUser' class="form-group">
            <label for="name">Commenting as {{this.authService.currentUser.user}}. Your username will be visible next to a comment.</label>
        </div>
        <div class="form-group">
          <label for="message">Message</label>
          <textarea required formControlName="message" id="message" cols="30" rows="10" [ngClass]="{'is-invalid' : commentFormGroup.get('message').touched && commentFormGroup.get('message').errors}" class="form-control"></textarea>
          <span *ngIf="commentFormGroup.get('message').errors && commentFormGroup.get('message').touched" class="invalid-feedback">Incorrect format</span>
        </div>
        <div class="form-group">
          <button [disabled]='!commentFormGroup.valid' type="submit" class="load-more-button">Post</button>
        </div>
      </form>
    </div>

  </div>
  <!-- Post Comment End -->