 <!-- Comments Start -->
 <div>
    <h3 class="mb-5">6 Comments</h3>
    <ul class="comment-list">
      <li class="comment">
        <div class="vcard">
          <img alt="Image placeholder">
        </div>
        <div class="comment-body">
          <h3>Jean Doe</h3>
          <div class="meta">January 9, 2018 at 2:21pm</div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus,
            ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum
            impedit necessitatibus, nihil?</p>
          <p>
            <a href="#" class="reply rounded">Reply</a>
          </p>
        </div>
      </li>

      <li class="comment">
        <div class="vcard">
          <img alt="Image placeholder">
        </div>
        <div class="comment-body">
          <h3>Jean Doe</h3>
          <div class="meta">January 9, 2018 at 2:21pm</div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus,
            ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum
            impedit necessitatibus, nihil?</p>
          <p>
            <a href="#" class="reply rounded">Reply</a>
          </p>
        </div>

        <ul class="children">
          <li class="comment">
            <div class="vcard">
              <img alt="Image placeholder">
            </div>
            <div class="comment-body">
              <h3>Jean Doe</h3>
              <div class="meta">January 9, 2018 at 2:21pm</div>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus,
                ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas
                earum impedit necessitatibus, nihil?</p>
              <p>
                <a href="#" class="reply rounded">Reply</a>
              </p>
            </div>


            <ul class="children">
              <li class="comment">
                <div class="vcard">
                  <img alt="Image placeholder">
                </div>
                <div class="comment-body">
                  <h3>Jean Doe</h3>
                  <div class="meta">January 9, 2018 at 2:21pm</div>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus,
                    ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas
                    earum impedit necessitatibus, nihil?</p>
                  <p>
                    <a href="#" class="reply rounded">Reply</a>
                  </p>
                </div>

                <ul class="children">
                  <li class="comment">
                    <div class="vcard">
                      <img alt="Image placeholder">
                    </div>
                    <div class="comment-body">
                      <h3>Jean Doe</h3>
                      <div class="meta">January 9, 2018 at 2:21pm</div>
                      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus,
                        ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam
                        voluptas earum impedit necessitatibus, nihil?</p>
                      <p>
                        <a href="#" class="reply rounded">Reply</a>
                      </p>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </li>

      <li class="comment">
        <div class="vcard">
          <img alt="Image placeholder">
        </div>
        <div class="comment-body">
          <h3>Jean Doe</h3>
          <div class="meta">January 9, 2018 at 2:21pm</div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur quidem laborum necessitatibus,
            ipsam impedit vitae autem, eum officia, fugiat saepe enim sapiente iste iure! Quam voluptas earum
            impedit necessitatibus, nihil?</p>
          <p>
            <a href="#" class="reply rounded">Reply</a>
          </p>
        </div>
      </li>
    </ul>
    <!-- END comment-list -->
  </div>
  <!-- Comments End -->

  <!-- Post Comment Start -->
  <div id="comment" class="comment">
    <div class="comment-form-wrap pt-5">
      <h3 class="mb-5">Leave a comment</h3>
      <form action="#" class="p-5 bg-light" [formGroup]="commentFormGroup">
        <div class="form-group">
          <label for="name">Name</label>
          <input required type="text" formControlName="name" [ngClass]="{'is-invalid' : commentFormGroup.get('name').dirty && commentFormGroup.get('name').errors}" class="form-control" id="name">
          <span *ngIf="commentFormGroup.get('name').errors && commentFormGroup.get('name').dirty" class="invalid-feedback">Incorrect format</span>
        </div>
        <div class="form-group">
          <label for="message">Message</label>
          <textarea required formControlName="message" id="message" cols="30" rows="10" [ngClass]="{'is-invalid' : commentFormGroup.get('message').dirty && commentFormGroup.get('message').errors}" class="form-control"></textarea>
          <span *ngIf="commentFormGroup.get('message').errors && commentFormGroup.get('message').dirty" class="invalid-feedback">Incorrect format</span>
        </div>
        <div class="form-group">
          <button [disabled]='!commentFormGroup.valid' type="submit" class="load-more-button">Post</button>
        </div>
      </form>
    </div>

  </div>
  <!-- Post Comment End -->