<div *ngIf='post' class="col-md-12 blog-post">


  <!-- Post Headline Start -->
  <div class="post-title" @slideLeft>
    <h1>{{post.title}}</h1>
  </div>
  <div *ngIf='this.authService.currentUser && (this.authService.currentUser.user == this.post.authorUsername || this.authService.currentUser.role == "Moderator")'>
    <a (click)="delete()"><i class="glyphicon glyphicon-trash"></i>&nbsp;&nbsp;Delete</a>
  </div>
  <!-- Post Headline End -->


  <!-- Post Detail Start -->
  <div class="post-info" @slideLeft>
    <span>{{post.postedOn | date}} / by
      <a href="#" target="_blank">{{post.authorFirstName}} {{post.authorLastName}}</a>
    </span>
  </div>
  <!-- Post Detail End -->


  <p id="post-content" @slideUp>{{post.text}}</p>

  <!-- Post Author Bio Box Start -->
  <div class="about-author margin-top-70 margin-bottom-50" @slideUp>

    <div class="picture">
      <img src="images/blog/author.png" class="img-responsive" alt="">
    </div>

    <div class="c-padding">
      <h3>Article By
        <a href="#" target="_blank" data-toggle="tooltip" data-placement="top" title="Visit Alex Website">{{post.authorFirstName}} {{post.authorLastName}}</a>
      </h3>
      <p>{{post.authorBiography}}</p>
    </div>
  </div>
  <!-- Post Author Bio Box End -->

  <app-blog-recommendedposts (recommendedEvent)="onChangePost($event)" [postId]='post.postId' @slideUp></app-blog-recommendedposts>
  <app-blog-comments [postId]='post.postId' @slideUp></app-blog-comments>
</div>